@model EmployeeAttendanceTracker.Data.Models.Employee

@{
    ViewData["Title"] = "Delete Employee";
}

<h1>Delete</h1>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Model.FullName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.EmployeeCode)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.EmployeeCode)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="EmployeeCode" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>